

<div class="container">
    <table class="table table-border">
      <thead>
      <tr class="table-div">
        <!-- <th>ProductID</th> -->
        <th>ProductName</th>
        <th >AvailableQuantity</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-div" >
          
              <!-- <td>{{itemList[index].productId}}</td> -->
              <td>{{product.productName}}</td>
              <td>{{product.availableQuantity}}</td>

        
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>

<div class ="box">
  <div class="custom-div">


<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate  >
    <label for="productName" class="label-input">Product name:  </label>
    <label for="productName" class="label-input">{{product.productName}}</label><br><br>
    <input class="inputText" type="number" id="availableQuantity" name="availableQuantity" placeholder="Enter product quantity" min="1" (keyup)="valqty(product.availableQuantity)" [(ngModel)]="validvalue" [max]="product.availableQuantity"
    
    
    
    
    
    
    
    ngModel required><br><br>

    <input class="submitText" type="submit" value="Order">
    
  
</form> 
</div>
</div>
