

<div class="container">
    <table class="table table-border">
      <thead>
      <tr>
        <!-- <th>ProductID</th> -->
        <th>ProductName</th>
        <th>AvailableQuantity</th>
      </tr>
      </thead>
      <tbody>
      <tr >
          
              <!-- <td>{{itemList[index].productId}}</td> -->
              <td>{{product.productName}}</td>
              <td>{{product.availableQuantity}}</td>

        
      </tr>
      </tbody>
    </table>
  </div>

<div class ="contain">


<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate  >
    <label for="productName" class="label-input">Product name:  </label>
    <label for="productName" class="label-input">{{product.productName}}</label><br><br>

    <label for="availableQuantity" class="label-input">Quantity:  </label>
    <input type="number" id="availableQuantity" name="availableQuantity" min="1" (keyup)="valqty(product.availableQuantity)" [(ngModel)]="validvalue" [max]="product.availableQuantity"
    
    
    
    
    
    
    
    ngModel required><br><br>

    <input type="submit" value="Order">
</form> 
</div>
