table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    align-self:center;
    margin: 0 auto;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
.inputText{
  height: 36px;
  width: 93%;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: #999999;
  padding-left: 10px;
}

.submitText{
  height: 36px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  box-shadow: #999999;
  float: right;
  text-align: center;
  background-color: rgb(150, 127, 99); ;
  color: aliceblue;
  font-weight: bold;
}

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-div{
    width: 500px;
    height: 180px;
    padding:10px;
    border-radius: 10px;
    background-color: black;
 } 
 .container{
   background-color: rgb(150, 127, 99);

 }
 .table-div{
   color: black;
 }