

<div class="container">
    <table class="table table-border">
      <thead>
      <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>AvailableQuantity</th>
      </tr>
      </thead>
      <tbody>
      <tr >
          
              <td>{{itemList[index].productId}}</td>
              <td>{{itemList[index].productName}}</td>
              <td>{{itemList[index].availableQuantity}}</td>

        
      </tr>
      </tbody>
    </table>
  </div>
<br>
<br>
<br>
<br>
<div class ="contain">


<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate  >
    <label for="productName">Product name:</label>
    <label for="productName">{{itemList[index].productName}}</label><br>

    <label for="availableQuantity">Quantity:</label>
    <input type="number" id="availableQuantity" name="availableQuantity" min="1" [max]="itemList[index].availableQuantity" ngModel required><br><br>

    <input type="submit" value="Submit">
</form> 
</div>
