
<div class="container">
    <table class="table table-border">
      <thead>
      <tr class="table-div">
        <th>ProductName</th>
        <!-- <th>ProductID</th> -->
        <th>AvailableQuantity</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-div" *ngFor="let i of customerProducts;">
          <ng-template [ngIf]="i.productName!=null&&i.productName!=''&&i.availableQuantity>=1">
              <td>{{i.productName}}</td>
              <!-- <td>{{i.productId}}</td> -->
              <td>{{i.availableQuantity}}</td>

              <td><a [routerLink]="['/order-list',i.productId]" routerLinkActive="active">ORDER</a></td>
          </ng-template>
        
      </tr>
      </tbody>
    </table>
  </div>
